<template>
    <div>
        <!-- Page Heading -->
        <page-heading title="Dashboard">
        </page-heading>

        <page-body>
            <div class="">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <welcome />
                </div>
            </div>
        </page-body>
    </div>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'
// import AppLayout from '@/Layouts/AppSidebarLayout.vue'
export default {
    layout: (h, page) => { return h(AppLayout, () => page) },
    // layout: AppLayout
}
</script>

<script setup>
    import { defineComponent, defineProps } from 'vue'
    // import AppLayout from '@/Layouts/AppLayout.vue'
    import Welcome from '@/Jetstream/Welcome.vue'
    import PageHeading from '@/Components/PageHeading.vue'
    import PageBody from '@/Components/PageBody.vue'

    // const title = 'tet'

    // defineProps({
    //     test: '32323'
    // })
    // export default defineComponent({
    //     components: {
    //         AppLayout,
    //         Welcome,
    //     },
    // })

    // defineExpose({layout: AppLayout})

</script>
