<template>
    <header class="bg-white shadow" >
        <div class="flex justify-between py-6 px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold text-gray-900" v-if="title">
                {{ title }}
            </h1>

            <slot name="title"></slot>

            <slot name="action"></slot>
        </div>
    </header>
</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        props: {
            title: {
                type: String,
                default: '',
                required: false
            },
        },
        components: {
            Link,
        },
        methods: {
        },
    })
</script>
