<template>
    <div class="py-6 sm:py-8 sm:px-6 lg:px-8">
        <slot></slot>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'

    export default defineComponent({
        props: {

        },
        components: {
        },
        methods: {
        },
    })
</script>
