<template>
    <div>
        <Head :title="`Create Customer`" />

        <page-heading title="Create Customer">
        </page-heading>

        <page-body>
            <jet-banner class="" :can-close="true"
                        :message="bannerMessages"
                        :style="bannerStyle"
                        v-if="! form.processing"></jet-banner>

            <jet-custom-form-section @submitted="submit">

                <template #form>
                    <div class="space-y-4">
                        <div>
                            <jet-custom-input :name="`name`" :label="`Customer Name`"
                                              v-model="form.name"
                                              :error="form.errors.name ? form.errors.name : false"/>
                        </div>
                        <div>
                            <jet-custom-input :name="`email`" :label="`Customer Email`"
                                              v-model="form.email"
                                              :error="form.errors.email ? form.errors.email : false"/>
                        </div>
                        <div>
                            <jet-custom-input :name="`city`" :label="`Customer City`"
                                              v-model="form.address.city"
                                              :error="form.errors.address && form.errors.address.city ? form.errors.address.city : false"/>
                        </div>
                    </div>
                </template>

                <template #actions>
                    <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                        Created.
                    </jet-action-message>

                    <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Create
                    </jet-button>
                </template>
            </jet-custom-form-section>
        </page-body>
    </div>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'

export default {
    layout: AppLayout
}
</script>

<script setup>
    import {ref, getCurrentInstance} from 'vue'
    import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetCustomInput from '@/Jetstream/CustomInput.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetBanner from '@/Jetstream/Banner.vue'

    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetActionSection from '@/Jetstream/ActionSection.vue'
    import JetConfirmationModal from '@/Jetstream/ConfirmationModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetCustomFormSection from '@/Jetstream/CustomFormSection.vue'

    const props = defineProps({
        errors: Object,
    });

    const { appContext: {app} } = getCurrentInstance();
    // console.log({appContext})

    const form = useForm(`CreateCustomer`, {
        name: '',
        email: '',
        address: {
            city: '',
        },
    })

    const bannerStyle = ref('danger')
    const bannerMessages = ref([])

    const submit = () => {
        form.post(route('customers.store'), {
            resetOnSuccess: true,
            preserveScroll: true,
            onSuccess: (response) => {
                // form.reset()

                app.$appNotify({
                    message: response.props.jetstream.flash.success || `Customer ${form.name} created`,
                    variant: 'success',
                })
            },
            onError: (error) => {
                const missingFieldErrors = app.$getMissingFormFieldErrorsFromResponse(error, form)
                bannerMessages.value = missingFieldErrors
            },
        })
    }

</script>
