<template>
    <div>
        <Head :title="`Edit Customer - ${customer.name}`" />

        <page-heading :title="`Edit Customer - ${customer.name}`">
        </page-heading>

        <page-body class="">
<!--            ERROR BANNER-->
            <jet-banner class="" :can-close="true"
                        :message="bannerMessages"
                        :style="bannerStyle"
                        v-if="! form.processing"></jet-banner>

            <jet-custom-form-section @submitted="submit">

                <template #form>
                    <div class="space-y-4">
                        <div>
                            <jet-custom-input :name="`name`" :label="`Customer Name`"
                                              v-model="form.name"
                                              :error="form.errors.name ? form.errors.name : false"/>
                        </div>

                        <div>
                            <jet-custom-input :name="`email`" :label="`Customer Email`" type="email"
                                              v-model="form.email"
                                              :error="form.errors.email ? form.errors.email : false"/>
                        </div>

                        <div>
                            <jet-custom-input :name="`city`" :label="`Customer City`"
                                              v-model="form.address.city"
                                              :error="form.errors.address && form.errors.address.city ? form.errors.address.city : false"/>
                        </div>

                    </div>
                </template>

                <template #actions>
                    <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                        Updated.
                    </jet-action-message>

                    <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                        Update
                    </jet-button>
                </template>
            </jet-custom-form-section>
        </page-body>
    </div>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'

export default {
    layout: AppLayout
}
</script>

<script setup>
    import {ref, onBeforeMount, getCurrentInstance} from 'vue'
    import { Head, Link, useForm } from '@inertiajs/inertia-vue3';
    // import { Inertia } from '@inertiajs/inertia';
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetCustomInput from '@/Jetstream/CustomInput.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetBanner from '@/Jetstream/Banner.vue'

    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetActionSection from '@/Jetstream/ActionSection.vue'
    import JetConfirmationModal from '@/Jetstream/ConfirmationModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetCustomFormSection from '@/Jetstream/CustomFormSection.vue'
    import JetCustomSelect from '@/Jetstream/CustomSelect.vue'
    import Multiselect from '@vueform/multiselect'
    // import useEventBus from "@/Modules/useEventBus";

    // const { emitEvent, onEvent } = useEventBus()

    const props = defineProps({
        customer: Object,
    });

    const { appContext: {app} } = getCurrentInstance();
    // console.log({appContext})

    const form = useForm(`EditCustomer:${props.customer.id}`, {
        id: props.customer.id,
        name: props.customer.name,
        email: props.customer.email,
        address: {
            city: props.customer.address.city,
        },

    })

    const bannerStyle = ref('danger')
    const bannerMessages = ref([])

    // console.log(bannerErrors.value)

    const submit = () => {
        form.put(route('customers.update', props.customer.id), {
            resetOnSuccess: false,
            preserveScroll: true,
            onSuccess: (response) => {
                app.$appNotify({
                    message: response.props.jetstream.flash.success,
                    variant: 'success',
                })
            },
            onError: (error) => {
                const missingFieldErrors = app.$getMissingFormFieldErrorsFromResponse(error, form)
                bannerMessages.value = missingFieldErrors
            },
        })
    }

</script>
