<template>
    <div>
        <Head title="Customers"/>

        <page-heading title="Customers">
            <template #action>
                <jet-secondary-button
                    :link="route('customers.create')"
                    :size="`large`"
                >
                    Create Customer
                </jet-secondary-button>
            </template>
        </page-heading>

        <page-body>
            <div class="flex flex-col">
                <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                            <custom-table
                                :is-slot-mode="true"
                                :is-loading="table.isLoading"
                                :columns="table.columns"
                                :rows="table.rows"
                                :page-size="table.pageSize"
                                :pagination="false"
                                :total="table.totalRecordCount"
                                :sortable="table.sortable"
                                :messages="table.messages"
                                @do-search="filterCustomers"
                                @is-finished="table.isLoading = false"
                            >
                                <template v-slot:td="props">
                                    <template v-if="props.settings.field === 'name'">
                                        <div class="flex items-center">
                                            <div class="">
                                                <div class="text-sm font-medium text-gray-900">
                                                    {{ props.row.name }}
                                                </div>
<!--                                                <div class="text-sm text-gray-500">-->
<!--                                                    {{ props.row.email }}-->
<!--                                                </div>-->
                                            </div>
                                        </div>
                                    </template>

                                    <template v-else-if="props.settings.field === 'email'">
                                        <div class="">
                                            {{ props.row.email }}
                                        </div>
                                    </template>

                                    <template v-else-if="props.settings.field === 'city'">
                                        <div class="">
                                            {{ props.row.address.city }}
                                        </div>
                                    </template>

                                    <template v-else-if="props.settings.field === 'stripe_id'">
                                        <div class="">
                                            {{ props.row.id }}
                                        </div>
                                    </template>

                                    <template v-else-if="props.settings.field === 'actions'">
                                        <div class="flex space-x-4">
                                            <div class="whitespace-nowrap --text-right text-sm font-medium">
                                                <Link :href="route('customers.edit', props.row.id)"
                                                      class="text-indigo-600 hover:text-indigo-900">
                                                    Edit
                                                </Link>
                                            </div>
                                            <div class="whitespace-nowrap --text-right text-sm font-medium ">
                                                <a href="javascript:void(0)"
                                                      class="text-red-600 hover:text-red-900"
                                                      @click.prevent="customerBeingDeleted = props.row.id"
                                                >
                                                    Delete
                                                </a>
                                            </div>
                                        </div>
                                    </template>

                                    <template v-else>
                                        {{ props.row.field }}
                                    </template>
                                </template>
                            </custom-table>
                            <div class="flex justify-between py-2 px-2" v-if="table.hasMorePrevious || table.hasMoreNext">
                                <div class="w-1/2">
                                    <button @click="prevPage" v-if="table.hasMorePrevious"
                                    class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm
                                            font-medium text-blue-gray-900 hover:bg-blue-gray-50 focus:outline-none focus:ring-2
                                            focus:ring-offset-2 focus:ring-blue-500">Previous</button>
                                </div>
                                <div class="w-1/2 flex justify-end">
                                    <button @click="nextPage" v-if="table.hasMoreNext"
                                            class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm
                                            font-medium text-blue-gray-900 hover:bg-blue-gray-50 focus:outline-none focus:ring-2
                                            focus:ring-offset-2 focus:ring-blue-500">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </page-body>

        <!-- Delete Token Confirmation Modal -->
        <jet-confirmation-modal :show="customerBeingDeleted" @close="customerBeingDeleted = null">
            <template #title>
                Delete Customer
            </template>

            <template #content>
                Are you sure you would like to delete this customer?
            </template>

            <template #footer>
                <jet-tertiary-button @click="customerBeingDeleted = null"
                    v-show="! customerDeleteProcessing"
                >
                    Cancel
                </jet-tertiary-button>

                <jet-danger-button class="ml-2"
                                   :link="route('customers.destroy', customerBeingDeleted)"
                                   :method="`delete`"
                                   :class="{ 'opacity-25': customerDeleteProcessing }"
                                   :disabled="customerDeleteProcessing"
                                   @processing="customerDeleteProcessing = true"
                                   @processed="customerDeleteProcessing = false"
                >

                    Delete
                </jet-danger-button>
            </template>
        </jet-confirmation-modal>

    </div>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout.vue'

export default {
    layout: AppLayout
}
</script>

<script setup>
import {defineComponent, ref, reactive, computed, onMounted} from 'vue'
import {Inertia,} from '@inertiajs/inertia'
import {Head, Link, usePage} from '@inertiajs/inertia-vue3';
import JetButton from '@/Jetstream/Button.vue'
import CustomTable from '@/Components/CustomTable.vue'
import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
import JetTertiaryButton from '@/Jetstream/TertiaryButton.vue'
import JetDangerButton from '@/Jetstream/DangerButton.vue'
import JetConfirmationModal from '@/Jetstream/ConfirmationModal.vue'
// import User from "@/Models/User"
import to from "await-to-js"
import {TInput} from '@variantjs/vue'
import {parseParams, setTableDataFromResponse} from '@/helpers.js'

const props = defineProps({
    limit: Number,
    hasMore: Boolean,
    customers: Object,
});

const customerBeingDeleted = ref(null)
const customerDeleteProcessing = ref(false)

const table = reactive({
    isLoading: false,
    columns: [
        {
            label: "Name",
            field: "name",
            width: "10%",
            sortable: false,
        },
        {
            label: "Email",
            field: "email",
            width: "15%",
            sortable: false,
        },
        {
            label: "City",
            field: "city",
            width: "15%",
            sortable: false,
        },
        {
            label: "Stripe ID",
            field: "stripe_id",
            width: "15%",
            sortable: false,
        },
        {
            label: "Actions",
            field: "actions",
            width: "15%",
            sortable: false,
        },
    ],
    page: 1,
    pageSize: props.limit,
    hasMorePrevious: false,
    hasMoreNext: props.hasMore,
});

onMounted(() => {
    // setTableDataFromResponse(table, pageProps)
    table.rows = props.customers
    table.pageSize = props.limit
    table.page = 1
})

const prevPage = async () => {
    filterCustomers(table.page - 1, table.pageSize, '', table.rows[0].id)
}

const nextPage = async () => {
    filterCustomers(table.page + 1, table.pageSize, table.rows[table.rows.length - 1].id)
}

const filterCustomers = async (page, limit, starting_after = '', ending_before = '') => {
    // console.log({page}, {limit}, {order}, {sort})

    page = page ? page : table.page
    limit = limit ? limit : table.pageSize

    table.isLoading = true;

    let options = {}
    if (starting_after) {
        options.starting_after = starting_after
    }
    if (ending_before) {
        options.ending_before = ending_before
    }
    // console.log({options})

    const [err, response] = await to(axios.get(route('customers.index', options),))
    // console.log({err}, {response})

    table.isLoading = false

    if (err) {
        // console.log({err})
        return
    }

    table.page = page
    table.pageSize = limit
    table.rows = response.data.customers
    if (starting_after) {
        table.hasMorePrevious = true
        table.hasMoreNext = response.data.hasMore
    }
    if (ending_before) {
        table.hasMoreNext = true
        table.hasMorePrevious = response.data.hasMore
    }

    // setTableDataFromResponse(table, response)
};

</script>
