<template>
    <div v-if="show && bannerMessage.length" class="--mt-3 mb-3"
         :class="{ 'bg-indigo-500': style == 'success', 'bg-red-600': style == 'danger' }" >
        <div class="--max-w-screen-xl mx-auto py-2 px-3 --sm:px-6 --lg:px-8">
            <div class="flex items-center justify-between flex-wrap">
                <div class="w-0 flex-1 flex items-center min-w-0">
                    <span class="flex p-2 rounded-lg" :class="{ 'bg-indigo-600': style == 'success', 'bg-red-700': style == 'danger' }">
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" v-if="style == 'success'">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>

                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" v-if="style == 'danger'">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                        </svg>
                    </span>

                    <ul class="m-0 p-0 ml-4 space-y-1 font-medium text-sm text-white truncate">
                        <li v-for="item in bannerMessage" v-html="item"></li>
                    </ul>
                </div>

                <div class="flex-shrink-0 sm:ml-3" v-if="canClose">
                    <button
                        type="button"
                        class="-mr-1 flex p-2 rounded-md focus:outline-none sm:-mr-2 transition"
                        :class="{ 'hover:bg-indigo-600 focus:bg-indigo-600': style == 'success', 'hover:bg-red-600 focus:bg-red-600': style == 'danger' }"
                        aria-label="Dismiss"
                        @click.prevent="close">
                        <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {defineComponent, onBeforeMount} from 'vue'
// import useEventBus from "@/Modules/useEventBus";
// const { emitEvent, onEvent, offEvent, offEmitters} = useEventBus()

export default defineComponent({
    props: {
        canClose: {
            type: Boolean,
            default: true,
            required: false,
        },
        style: {
            type: String,
            default: 'success',
            required: false,
        },
        message: {
            // type: Any,
            default: '',
            required: false,
        },
        show: {
            type: Boolean,
            default: true,
            required: false,
        },
    },
    data() {
        return {
            bannerMessage: []
        }
    },
    computed: {
    },
    watch: {
        message(newValue, oldValue) {
            // console.log('flashMessage', {newValue})
            this.setMessage(newValue)
        },
    },
    beforeMount() {
        const that = this
        // console.log('banner beforeMount')

    },
    unmounted() {
        // console.log('banner unmounted')
    },
    mounted() {
        const that = this

        this.setMessage(this.message)
    },
    methods: {
        setMessage(message) {
            if(typeof message === 'string') {
                this.bannerMessage = [message]
            }

            if(Array.isArray(message)) {
                this.bannerMessage = message
            }
        },
        clear() {
            this.setMessage([])
        },
        close() {
            this.clear()
        }
    }
})
</script>
