<template>
    <button :type="type" @click="onClick"
            class="inline-flex items-center border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest
                    bg-blue-400 hover:bg-blue-300 active:bg-blue-600 focus:outline-none focus:border-blue-600
                    focus:ring-2 focus:ring-offset-2 focus:ring-blue-600 disabled:opacity-25 transition"
            :class="[
                size === 'default' ? 'px-4 py-2' :
                            'large' ? 'px-8 py-2' : size,
                textSize === 'default' ? 'text-sm' : textSize,
            ]"
    >
        <slot></slot>
    </button>
<!--    :href="href" as="button"-->

<!--    Tailwind ui-->
<!--    <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">-->
<!--        Save-->
<!--    </button>-->
</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';
    import { Inertia } from '@inertiajs/inertia';

    export default defineComponent({
        props: {
            link: {
                type: String,
                default: '',
                required: false
            },
            type: {
                type: String,
                default: 'submit',
            },
            size: {
                type: String,
                default: 'default',
            },
            textSize: {
                type: String,
                default: 'default',
            },
        },
        components: {
            Link,
        },
        methods: {
            onClick() {
                if( ! this.link ) return

                Inertia.visit(this.link)
            },
        },
    })
</script>
