<template>
<!--    <div>-->
        <label v-if="labelText" :for="name" class="block text-sm font-medium text-gray-700">{{ labelText }}</label>
        <div class="mt-1 relative rounded-md shadow-sm">
            <Multiselect
                @change="onChange"
                v-bind="$attrs"
                ref="multiselect"
            />
<!--            :value="modelValue"-->
            <div v-if="error" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <ExclamationCircleIcon class="h-5 w-5 text-red-500" aria-hidden="true" />
            </div>
        </div>
        <jet-input-error :message="error"></jet-input-error>
<!--    </div>-->
</template>

<script>
    import { defineComponent } from 'vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import { ExclamationCircleIcon } from '@heroicons/vue/solid'
    import Multiselect from '@vueform/multiselect'

    export default defineComponent({
        // props: ['modelValue', 'type', 'error'],
        props: {
            modelValue: String|Number|Boolean,
            // inputType: {
            //     type: String,
            //     default: 'text',
            //     required: false,
            // },
            name: String,
            labelText: String,
            error: String | Boolean,
        },

        emits: ['update:modelValue'],

        components: {
            ExclamationCircleIcon,
            JetInput,
            JetInputError,
            Multiselect,
        },
        mounted() {
            // need this initial set for it to work :|
            this.$refs.multiselect.select(this.modelValue)
        },
        methods: {
            onChange(test) {
                this.$emit('update:modelValue', test)
            }
        }
    })
</script>
