<template>
<!--    <div>-->
        <label v-if="label" :for="name" class="block text-sm font-medium text-gray-700">{{ label }}</label>
        <div class="mt-1 relative rounded-md shadow-sm">
            <jet-input class="block w-full pr-10 focus:outline-none sm:text-sm shadow-sm rounded-md
                         "
                   :class="[
                       error ? ' '
                            : ' '
                   ]"
                   :value="modelValue"
                   @input="$emit('update:modelValue', $event.target.value)"
                   v-bind="$attrs"
               />
            <div v-if="error" class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                <ExclamationCircleIcon class="h-5 w-5 text-red-500" aria-hidden="true" />
            </div>
        </div>
        <jet-input-error :message="error"></jet-input-error>
<!--    </div>-->
</template>

<script>
    import { defineComponent } from 'vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import { ExclamationCircleIcon } from '@heroicons/vue/solid'

    export default defineComponent({
        // props: ['modelValue', 'type', 'error'],
        props: {
            modelValue: String,
            // inputType: {
            //     type: String,
            //     default: 'text',
            //     required: false,
            // },
            name: String,
            label: String,
            error: String | Boolean,
        },

        emits: ['update:modelValue'],

        components: {
            ExclamationCircleIcon,
            JetInput,
            JetInputError,
        },

        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    })
</script>
