<template>
    <button :type="type" @click="onClick"
            class="inline-flex items-center justify-center bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 active:bg-red-600 disabled:opacity-25 transition"
            :class="[
                size === 'default' ? 'px-4 py-2' :
                            'large' ? 'px-8 py-2' : size,
                textSize === 'default' ? 'text-sm' : textSize,
            ]"
    >
        <slot></slot>
    </button>
</template>

<script>
    import { defineComponent } from 'vue'
    import {Inertia} from "@inertiajs/inertia";
    import {Link} from "@inertiajs/inertia-vue3";

    export default defineComponent({
        props: {
            link: {
                type: String,
                default: '',
                required: false
            },
            method: {
                type: String,
                default: 'get',
                required: false
            },
            type: {
                type: String,
                default: 'submit',
            },
            size: {
                type: String,
                default: 'default',
            },
            textSize: {
                type: String,
                default: 'default',
            },
        },
        components: {
            Link,
        },
        methods: {
            onClick() {
                const that = this
                if( ! this.link ) return

                this.$emit('processing')

                Inertia.visit(this.link, {
                    method: that.method,
                    onSuccess: page => {},
                    onError: errors => {},
                    onFinish: visit => {
                        that.$emit('processed')
                    },
                })
            },
        },

    })
</script>
