<template>
    <input class="block w-full pr-10 focus:outline-none sm:text-sm shadow-sm rounded-md
                 "
           :class="[
               error ? 'border-red-300 text-red-900 placeholder-red-300 ' +
                        'focus:ring-red-500 focus:border-red-500 '
                    : 'border-gray-300 focus:border-blue-400 ' +
                     'focus:ring-0 focus:ring-blue-400 focus:border-blue-400'
           ]"
           :value="modelValue"
           @input="$emit('update:modelValue', $event.target.value)"
           :type="$attrs.type ? $attrs.type : 'text'"
           ref="input"
       />
</template>

<script>
    import { defineComponent } from 'vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import { ExclamationCircleIcon } from '@heroicons/vue/solid'

    export default defineComponent({
        // props: ['modelValue', 'type', 'error'],
        props: {
            modelValue: String,
            error: String,
        },

        emits: ['update:modelValue'],

        components: {
            ExclamationCircleIcon,
            JetInputError,
        },

        methods: {
            focus() {
                this.$refs.input.focus()
            }
        }
    })
</script>
