<template>
    <button :type="type" @click="onClick"
            class="inline-flex items-center px-4 py-2 border border-transparent rounded-md font-semibold
                    text-white uppercase tracking-widest
                    bg-green-400 hover:bg-green-300 active:bg-green-600 focus:outline-none focus:border-green-600
                    focus:ring-2 focus:ring-offset-2 focus:ring-green-600 disabled:opacity-25 transition"
            :class="[
                size === 'default' ? 'px-4 py-2' :
                            'large' ? 'px-8 py-2' : size,
                textSize === 'default' ? 'text-sm' : textSize,
            ]"
    >
        <slot></slot>
    </button>
</template>

<script>
import { defineComponent } from 'vue'
import { Link } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default defineComponent({
    props: {
        link: {
            type: String,
            default: '',
            required: false
        },
        type: {
            type: String,
            default: 'submit',
        },
        size: {
            type: String,
            default: 'default',
        },
        textSize: {
            type: String,
            default: 'default',
        },
    },
    components: {
        Link,
    },
    methods: {
        onClick() {
            if( ! this.link ) return

            Inertia.visit(this.link)
        },
    },
})
</script>
