<template>
    <button :type="type" @click="onClick"
            class="inline-flex items-center justify-center bg-white hover:bg-blue-gray-50 border border-gray-300 rounded-md font-semibold
            text-xs text-blue-gray-900 uppercase tracking-widest hover:bg-blue-gray-500 focus:outline-none focus:border-blue-gray-700 focus:ring focus:ring-blue-gray-200 active:bg-blue-gray-600 disabled:opacity-25 transition

            "
            :class="[
                size === 'default' ? 'px-4 py-2' :
                            'large' ? 'px-8 py-2' : size,
                textSize === 'default' ? 'text-sm' : textSize,
            ]"
    >
        <slot></slot>
    </button>
</template>

<script>
import { defineComponent } from 'vue'
import { Link } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default defineComponent({
    props: {
        link: {
            type: String,
            default: '',
            required: false
        },
        type: {
            type: String,
            default: 'submit',
        },
        size: {
            type: String,
            default: 'default',
        },
        textSize: {
            type: String,
            default: 'default',
        },
    },
    components: {
        Link,
    },
    methods: {
        onClick() {
            if( ! this.link ) return

            Inertia.visit(this.link)
        },
    },
})
</script>
