<!-- This example requires Tailwind CSS v2.0+ -->
<template>
    <!--
        This example requires updating your template:

        ```
        <html class="h-full bg-gray-100">
        <body class="h-full">
        ```
      -->
    <div class="min-h-full">
        <nav class="bg-gray-800">
            <div class="px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="h-8 w-8" src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow" />
                        </div>
                        <div class="hidden md:block">
                            <div class="ml-10 flex items-baseline space-x-4">
                                <template v-for="item in navigation" :key="item.name">
                                    <Link v-if="item.can"
                                          :href="route(item.route)"
                                          :class="[route().current() === item.route ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'px-3 py-2 rounded-md text-sm font-medium']" >{{ item.name }}</Link>
                                </template>
                            </div>
                        </div>
                    </div>

<!--                    DESKTOP-->
                    <div class="hidden md:block">
                        <div class="ml-4 flex items-center md:ml-6">
<!--                            <button type="button" class="bg-gray-800 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">-->
<!--                                <span class="sr-only">View notifications</span>-->
<!--                                <BellIcon class="h-6 w-6" aria-hidden="true" />-->
<!--                            </button>-->

                            <!-- Profile dropdown -->
                            <Menu as="div" class="ml-3 relative">
                                <div>
                                    <MenuButton class="max-w-xs bg-gray-800 rounded-full flex items-center text-sm
                                                        focus:outline-none focus:ring-0 focus:ring-offset-2 focus:ring-offset-gray-800
                                                         focus:ring-white text-white">
                                        <span class="sr-only">Open user menu</span>
<!--                                        <img class="h-8 w-8 rounded-full" :src="user.imageUrl" alt="" />-->
                                        Welcome, {{ user.f_name }}
                                    </MenuButton>
                                </div>
                                <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                                    <MenuItems class="origin-top-right absolute right-0 z-20 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none">
                                        <template v-for="item in userNavigation" :key="item.name">
                                            <MenuItem v-if="item.can" :key="item.name" v-slot="{ active }">
                                                <Link :href="route(item.route)" :class="[route().current() === item.route ? 'bg-gray-100' : '', 'block hover:bg-gray-100 px-4 py-2 text-sm text-gray-700']">{{ item.name }}</Link>
                                            </MenuItem>
                                        </template>
                                        <a @click.native.prevent="logout()" class="cursor-pointer block hover:bg-gray-100  px-4 py-2 text-sm text-gray-700">
                                            Sign out
                                        </a>
                                    </MenuItems>
                                </transition>
                            </Menu>
                        </div>
                    </div>

<!--                    MOBILE-->
<!--                    <div class="-mr-2 flex md:hidden">-->
<!--                        <button class="bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">-->
<!--                            <span class="sr-only">Open main menu</span>-->
<!--                            <MenuIcon v-if="!open" class="block h-6 w-6" aria-hidden="true" />-->
<!--                            <XIcon v-else class="block h-6 w-6" aria-hidden="true" />-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </div>


<!--            MOBILE-->
            <div class="md:hidden">
                <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
                    <template v-for="item in navigation" :key="item.name">
                        <button v-if="item.can" :key="item.name" as="a" :href="route(item.route)" :class="[route().current() === item.route ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'block px-3 py-2 rounded-md text-base font-medium']" :aria-current="item.current ? 'page' : undefined">{{ item.name }}</button>
                    </template>
                </div>
                <div class="pt-4 pb-3 border-t border-gray-700">
                    <div class="flex items-center px-5">
                        <div class="flex-shrink-0">
                            <img class="h-10 w-10 rounded-full" :src="user.imageUrl" alt="" />
                        </div>
                        <div class="ml-3">
                            <div class="text-base font-medium leading-none text-white">{{ user.f_name }}</div>
                            <div class="text-sm font-medium leading-none text-gray-400">{{ user.email }}</div>
                        </div>
                        <button type="button" class="ml-auto bg-gray-800 flex-shrink-0 p-1 rounded-full text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
                            <span class="sr-only">View notifications</span>
                            <BellIcon class="h-6 w-6" aria-hidden="true" />
                        </button>
                    </div>
                    <div class="mt-3 px-2 space-y-1">
                        <Link v-for="item in userNavigation" :key="item.name" :href="item.href" class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">{{ item.name }}</Link>
                        <form method="POST" @submit.prevent="logout()">
                            <button  class="block px-3 py-2 rounded-md text-base font-medium text-gray-400 hover:text-white hover:bg-gray-700">
                                    Sign out
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            <div class="">
                <slot />
            </div>
        </main>
    </div>
</template>

<script setup>
import {ref, computed, watch, getCurrentInstance, onMounted} from 'vue'
import { Disclosure, DisclosureButton, DisclosurePanel, Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
import { HomeIcon, UsersIcon, UserCircleIcon, LockOpenIcon, KeyIcon, XIcon, BellIcon, MenuIcon } from '@heroicons/vue/outline'
import { Head, Link, usePage } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';
import { ChipIcon } from '@heroicons/vue/solid'

const { appContext: {app} } = getCurrentInstance();

const navigation = ref([])

const userNavigation = ref([])

const user = computed(() => usePage().props.value.auth.user)

const sidebarOpen = ref(false)

onMounted(() => {
    refreshLinks()
})


const refreshLinks = () => {
    navigation.value = [
        {name: 'Customers', route: `customers.index`, icon: UsersIcon, current: true, can: true},
    ]

    userNavigation.value = [
    ]
}

const logout = () => {
    Inertia.post(route('logout'));
}

</script>
