<!-- This example requires Tailwind CSS v2.0+ -->
<template>
    <!--
      This example requires updating your template:

      ```
      <html class="h-full bg-gray-100">
      <body class="h-full">
      ```
    -->
    <div>
        <!-- Static sidebar for desktop -->
        <div class="flex md:w-64 md:flex-col md:fixed md:inset-y-0">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex-1 flex flex-col min-h-0 bg-gray-800">
                <div class="flex-1 flex flex-col pt-5 pb-4 overflow-y-auto">
                    <div class="flex items-center flex-shrink-0 px-4">
                        <img class="h-8 w-auto"
                             src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
                             alt="Workflow"/>
                    </div>
                    <nav class="mt-5 flex-1 px-2 space-y-1">
                        <template v-for="item in navigation" :key="item.name">
                            <Link v-if="item.can" :key="item.name" :href="route(item.route)"
                                  :class="[route().current() === item.route ? 'bg-gray-900 text-white' : 'text-gray-300 hover:bg-gray-700 hover:text-white', 'group flex items-center px-2 py-2 text-sm font-medium rounded-md']"
                            >
                                <component :is="item.icon"
                                           :class="[route().current() === item.route ? 'text-gray-300' : 'text-gray-400 group-hover:text-gray-300', 'mr-3 flex-shrink-0 h-6 w-6']"
                                           aria-hidden="true"/>
                                {{ item.name }}
                            </Link>
                        </template>
                    </nav>
                </div>

                <Menu as="div" class="flex-shrink-0 flex bg-gray-700"
                     v-if="user">
                    <div class="w-full relative inline-block text-left">
                        <div>
                            <MenuButton class="w-full p-4">
<!--                                Options-->
<!--                                <ChevronDownIcon class="-mr-1 ml-2 h-5 w-5" aria-hidden="true" />-->
                                <a href="#" class="flex-shrink-0 w-full group block">
                                    <div class="flex items-center">
<!--                                        <div>-->
<!--                                            <img class="inline-block h-9 w-9 rounded-full"-->
<!--                                                 src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"-->
<!--                                                 alt=""/>-->
<!--                                        </div>-->
                                        <div class="ml-3">
                                            <p class="text-sm font-medium text-white">
                                                {{ user.f_name }} {{ user.l_name }}
                                            </p>
                                            <p class="text-xs text-left font-medium text-gray-300 group-hover:text-gray-200">
                                                {{ user.roles.join(', ') }}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </MenuButton>
                        </div>

                        <transition enter-active-class="transition ease-out duration-100" enter-from-class="transform opacity-0 scale-95" enter-to-class="transform opacity-100 scale-100" leave-active-class="transition ease-in duration-75" leave-from-class="transform opacity-100 scale-100" leave-to-class="transform opacity-0 scale-95">
                            <MenuItems class="origin-top-right absolute top-0 -translate-y-full
                                        w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5
                                        divide-y divide-gray-100 focus:outline-none">
                                <div class="px-4 py-3">
                                    <p class="text-sm">
                                        Signed in as
                                    </p>
                                    <p class="text-sm font-medium text-gray-900 truncate">
                                        {{ user.email }}
                                    </p>
                                </div>
                                <div class="--py-1">
                                    <form method="POST" @submit.prevent="logout()">
                                        <MenuItem v-slot="{ active }">
                                            <button type="submit" :class="[active ? 'bg-gray-100 text-gray-900' : 'text-gray-700', 'block w-full text-left px-4 py-2 text-sm']">
                                                Sign out
                                            </button>
                                        </MenuItem>
                                    </form>
                                </div>
                            </MenuItems>
                        </transition>
                    </div>
                </Menu>
            </div>
        </div>

        <div class="md:pl-64 flex flex-col flex-1">
            <div class="sticky top-0 z-10 md:hidden pl-1 pt-1 sm:pl-3 sm:pt-3 bg-gray-100">
                <button type="button"
                        class="-ml-0.5 -mt-0.5 h-12 w-12 inline-flex items-center justify-center rounded-md text-gray-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                        @click="sidebarOpen = true">
                    <span class="sr-only">Open sidebar</span>
                    <MenuIcon class="h-6 w-6" aria-hidden="true"/>
                </button>
            </div>

            <main class="flex-1">
                <div class="py-6">
                    <div class=" mx-auto px-4 sm:px-6 md:px-6">

<!--                        <div id="pageTitle"></div>-->

                        <slot />

                    </div>
                </div>
            </main>
        </div>
    </div>
</template>

<script setup>
import {ref, computed, getCurrentInstance} from 'vue'
import {Dialog, DialogOverlay, TransitionChild, TransitionRoot} from '@headlessui/vue'
import {
    CalendarIcon,
    ChartBarIcon,
    FolderIcon,
    HomeIcon,
    InboxIcon,
    MenuIcon,
    UsersIcon,
    LockOpenIcon,
    KeyIcon,
    XIcon,
} from '@heroicons/vue/outline'
import { Head, Link, usePage } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';
import { Menu, MenuButton, MenuItem, MenuItems } from '@headlessui/vue'
// import { ChevronDownIcon } from '@heroicons/vue/solid'

const { appContext: {app} } = getCurrentInstance();

const navigation = ([
    {name: 'Dashboard', route: `dashboard`, icon: HomeIcon, current: true, can: true},
    {name: 'Roles', route: `roles.index`, icon: LockOpenIcon, current: false, can: app.$can('view-roles')},
    {name: 'Permissions', route: `permissions.index`, icon: KeyIcon, current: false, can: app.$hasRole('superadmin')},
    {name: 'Users', route: `users.index`, icon: UsersIcon, current: false, can: true},
    // {name: 'Team', route: '#', icon: UsersIcon, current: false, can: true},
    // {name: 'Projects', route: '#', icon: FolderIcon, current: false, can: true},
    // {name: 'Calendar', route: '#', icon: CalendarIcon, current: false, can: true},
    // {name: 'Documents', route: '#', icon: InboxIcon, current: false, can: true},
    // {name: 'Reports', route: '#', icon: ChartBarIcon, current: false, can: true},
])

// defineProps({
//     auth: Object
// })
const user = computed(() => usePage().props.value.auth.user)

const sidebarOpen = ref(false)

const logout = () => {
    Inertia.post(route('logout'));
}

</script>
